if SHIELD_SPARKLE36_LEFT

config ZMK_KEYBOARD_NAME
    default "sparkle36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SPARKLE36_LEFT

if SHIELD_SPARKLE36_LEFT || SHIELD_SPARKLE36_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SPARKLE36_LEFT || SHIELD_SPARKLE36_RIGHT
